<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

  <script type="text/javascript" src="jquery-1.8.3.js"></script>
  <script src="{{js_url}}"></script>
  <link rel="stylesheet" href="{{css_url}}"></head>

<body>

<div id="content">
<input type="text" id="search" onkeyup="search()" placeholder="Search for names..">
	<table id="table"> 
		<tr>  
			<th>card name</th> 
			<th>card num</th> 
			<th>trollandtoad.com</th> 
			<th>fftcgsingles.co.uk</th> 
		</tr>

  		{% for r in results %}
			<tr>
				<td> {{ r.cardname  }}</td>
				<td>{{  r.cardnum }}</td>
				{% for store in r.stores %}
					
					<td>
					{%	if store.price %}
						<a href="http://www.{{store._id + store.link}}">
						{{  store.price }}
						{% endif %}
					</td>
					

				{% endfor %}

			</tr>
		{% endfor %}

</div>

</body>
</html>