<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

  <script type="text/javascript" src="{{jquery_url}}"></script>
  <script type="text/javascript" src="{{bsj_url}}"></script>
  <script src="{{js_url}}"></script>
  <link rel="stylesheet" href="{{bsc_url}}">
  <link rel="stylesheet" href="{{css_url}}">
</head>

<h2 style="text-align: center">FFTCG Price Search </h2>
<div style="align: center ">
	<input type="text" id="search" placeholder="Search by card name or number" style="width: 300px; margin:0px auto; display:block;" >
</div>
<div class="container">
  	<div class="row">
    	<div class="col-xs-12">
	       	<div class="table-responsive" >
				<table class="table table-bordered table-hover" id="table">
				 	<thead>
						<tr>  
							<th>card name</th> 
							<th>card num</th> 
							<th>trollandtoad.com</th> 
							<th>trollandtoad foil</th>
							<th>fftcgsingles.co.uk</th>
							<th>fftcgsingles foil</th>
							<th>image</th>
						</tr>
					</thead>
					<tbody>
				  		{% for r in results %}
							<tr>
								<td> {{ r.cardname  }}</td>
								<td>{{  r.cardnum }}</td>
								{% for store in r.stores %}
									
									<td>
									{%	if store.nonfoil %}
										{%	if store.nonfoil.price %}
										<a href="http://www.{{store._id + store.nonfoil.link}}">
										{{  store.nonfoil.price }}
										{% endif %}
									{% endif %}
									</td>
									<td>
									{%	if store.foil %}
										{%	if store.foil.price %}
										<a href="http://www.{{store._id + store.foil.link}}">
										{{  store.foil.price }}
										{% endif %}
									{% endif %}
									</td>

								{% endfor %}
								<td><img src="{{ image_path+r.cardnum+'.jpg' }}" alt="image placeholder " style="width:100px;height:140px;"></td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
				            <td colspan="5" class="text-center"></td>
				        </tr>
	          		</tfoot>
	    		</table>
			</div>
		</div>
  	</div>
</div>

</html>
